<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Jason</h1>

          <p class="intro-text">
            <a class="highlight">Skilled &amp; creative UI/UX</a>&nbsp;developer. 
            <a class="highlight">Desktop apps</a> are his specialty. 
            <a class="highlight">Web apps</a> are his future.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
