<section class="container content-section text-center" id="about">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Jason</h2>

      <p>A developer that brings a <a class="highlight">unique and fresh perspective</a>.</p>

      <p>He&#39;s an <a class="highlight">outside the box</a> thinker and a <a class="highlight">curious</a> individual.</p>

      <p>Strong willed with a <a class="highlight">propensity to do things</a> a better way...<a class="highlight">the right way</a>.</p>
    </div>
  </div>
</section>
